.mapa {
    margin-right: 10rem;
    width: 25rem;
    height: 25rem;
}

.details {
    font-size: 2rem;
    color: #fff;
}

.detail__button {
    width: 200px;
    padding: 0.4rem;
    margin: 0 auto;
    color: #fff;
    background-color: red;
    font-size: 2rem;
    cursor: pointer;
}

.details__name {
    font-size: 2rem;
    color: #fff;
}

.detail__field-image {
    margin-left: 10rem;
    width: 20rem;
    height: 10rem;
}

.detail__field {
    width: 56rem;
    position: relative;
}

.position__one, .position__two, .position__three, .position__four, .position__five {
    position: absolute;
    padding: 0.5rem;
    color: rgb(243,123,31);
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
}

.position__one {
    top: 46%;
    left: 5%;
}
.position__two {
    top: 30%;
    left: 20%;
}
.position__three {
    bottom: 30%;
    left: 20%;
}
.position__four {
    top: 30%;
    left: 40%;
}
.position__five {
    bottom: 30%;
    left: 40%;
}

.selected {
    background-color: rgb(255, 0, 0);
}