.mapa {
    width: 25rem;
    height: 25rem;
}

.details {
    font-size: 2rem;
    color: #fff;
}

.detail__button {
    width: 200px;
    padding: 0.4rem;
    margin: 0 auto;
    color: #fff;
    background-color: red;
    font-size: 2rem;
    cursor: pointer;
}

.details__name {
    font-size: 2rem;
    color: #fff;
}