.leaflet-container {
    margin: 2rem auto;
    height: 30rem;
    width: 40rem;
    border: 0.5rem solid #fff;
    border-radius: 0.3rem;
}

.home {
    text-align: center;
}

.home__title {
    padding-top: 1rem;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

.map__marker-details {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
}

.home__wrapper {
    margin: 6rem auto;
    padding: 1rem 0;
    width: 45rem;
    background-color: rgb(243,123,31);
    border-radius: 0.3rem;
}